html {
  box-sizing: border-box;
  font-size: 62.5%; /** Resete para REMS - 65.5%=10px de 16px que eran antes. ahora 1rem= 10px, 2rem =20px 2.2rem=22px 
    ahora los rem son multiplos de 10**/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.6rem;
  text-transform: capitalize;
}

/** Globales **/
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
/* Sistema de tamaños*/
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
