.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}
.btn ion-icon {
  font-size: 1.8rem;
  font-weight: 800;
  margin-right: 1rem;
}

.btn:hover ion-icon {
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.visible.overlay {
  visibility: visible;
}

/* **** globales **** */
body {
  font-family: "Poppins", sans-serif;
}

a {
  color: #1C1C1C;
}

ul {
  padding: 0;
}

input {
  height: 4rem;
  font-family: inherit;
  text-transform: capitalize;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

input:not(input[type=submit]) {
  padding: 0 2rem;
  font-size: 1.3rem;
}

[name*=trash] {
  color: red;
}

/* **** utilities **** */
.container {
  max-width: 120rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mg-top {
  margin-top: 4rem;
}

.input_search {
  position: relative;
  width: 100%;
}
.input_search ion-icon {
  position: absolute;
  right: 0;
  top: 10px;
  margin: auto;
  padding: 0 2rem;
}
.input_search input {
  width: 100%;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 2rem;
  border: 2px solid #f1f2f3;
}
.scroll::-webkit-scrollbar:horizontal {
  height: 1rem;
}
.scroll::-webkit-scrollbar:vertical {
  width: 1rem;
}

.btn.btn_primary {
  background-color: #EEB600;
  transition: 0.3s all ease-in-out;
}
.btn.btn_primary ion-icon {
  color: #000;
}
.btn.btn_primary:hover {
  box-shadow: 9px 9px 15px rgba(238, 182, 0, 0.4);
}

.btn.btn_secundary {
  color: #F33535;
  outline: 2px solid #F33535;
}
.btn.btn_secundary:hover {
  color: #fff;
  background-color: #F33535;
}

.hidden {
  display: none;
}

/* **** animations **** */
@keyframes openTopics {
  0% {
    top: 30px;
  }
  100% {
    top: 52px;
  }
}
/* **** header **** */
.bar {
  box-shadow: 0px 7px 13px rgba(28, 28, 28, 0.2);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_content h1 {
  font-family: "Lobster", cursive;
  font-size: calc(1.3em + 1.3vw);
}
.header_content .btn_profile a {
  display: flex;
  align-items: center;
}
.header_content .profile > li {
  position: relative;
}
.header_content .submenu_profile {
  display: none;
  position: absolute;
  width: 120px;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #fff;
  transition: 0.4s all ease-in-out;
}

.submenu_profile {
  right: -7px;
}
.submenu_profile li a {
  display: block;
  text-align: center;
  font-weight: 500;
  color: #F33535;
  font-size: calc(.6em + .6vw);
}
.submenu_profile li a span {
  margin-left: 1.2rem;
}

.btn_profile > a img {
  height: 4rem;
  height: calc(1.2em + 1.2vw);
}
.btn_profile > a span {
  color: #1C1C1C;
  font-weight: 700;
  font-size: calc(.6em + .6vw);
}
.btn_profile:hover > .submenu_profile {
  display: block;
}

/* **** topics managment **** */
.container_list-topics {
  position: relative;
}

@media (min-width: 768px) {
  .container_list-topics {
    width: 30rem;
  }
}
.submenu_topics {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.submenu_topics.show {
  display: block;
  animation: openTopics 0.1s linear;
}

.btn_open-topics:hover .submenu_topics {
  display: block;
}

.btn_topics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid #1C1C1C;
  padding: 1.2rem 2rem;
  width: 100%;
  padding-bottom: 1rem;
}
.btn_topics span {
  margin-right: 1rem;
}
.btn_topics:hover {
  box-shadow: 3px 3px 5px rgba(28, 28, 28, 0.3);
  transition: 0.2s box-shadow ease-in-out;
}

.topics_container {
  overflow-y: auto;
  height: 20rem;
}
.topics_container .list_topics {
  padding: 0;
}
.topics_container.not-found {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.list_topics li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 2rem;
  margin-bottom: 0.5rem;
}

.topic {
  cursor: pointer;
}
.topic.active, .topic:hover {
  box-shadow: 3px 3px 5px rgba(28, 28, 28, 0.3);
  transition: 0.2s box-shadow ease-in-out;
}
.topic.active span, .topic:hover span {
  color: #1C1C1C;
  font-weight: 400;
}
.topic span {
  color: #707070;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .btn_topics {
    width: 30rem;
  }
}
.container_new-topic {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  box-shadow: 0px -1px 1px rgba(28, 28, 28, 0.3);
}
.container_new-topic a {
  display: flex;
  align-items: center;
}
.container_new-topic a span {
  margin-left: 1rem;
  font-size: 1.7rem;
}

/* **** flashcard managment **** */
#topic_title {
  text-align: center;
  margin: 2rem 0;
  font-size: calc(1.3em + 1.3vw);
}

@media (min-width: 768px) {
  .flashcard_customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flashcard_customize .input_search {
    width: 25rem;
  }
}
/* **** flashcard  **** */
.container_flashcards {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 2rem;
  height: 60rem;
  box-shadow: 3px 3px 5px rgba(28, 28, 28, 0.3);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .container_flashcards {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
.flashcard {
  position: relative;
  height: 35rem;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.flashcard .face {
  position: absolute;
  top: 0;
  left: 0;
  height: 30rem;
  width: 100%;
  background-color: #1C1C1C;
  color: #ffff;
}
.flashcard .flashcards_settings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flashcard.rotate {
  transform: rotateY(180deg);
}
.flashcard .anverse {
  z-index: 10;
}
.flashcard .overse {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.face .inpt_question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  text-align: center;
  padding: 0 2rem;
}
.face .inpt_question .question {
  width: 95%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  background-color: transparent;
  resize: none;
}
.face .inpt_question .question:focus {
  outline: none;
}

.flashcards_settings {
  position: relative;
}
.flashcards_settings a {
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
}
.flashcards_settings .btn_rotate {
  font-size: 2.5rem;
}
.flashcards_settings .settings {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flashcards_settings .btn_palette {
  left: 0;
  background-color: #337DEC;
}
.flashcards_settings .btn_delete {
  right: 0;
  background-color: #F33535;
}
.flashcards_settings .btn_delete ion-icon {
  color: #ffff;
}

.delete_topic {
  margin-top: 2rem;
}
.delete_topic .btn_delete-topic {
  width: 100%;
}

@media (min-width: 768px) {
  .delete_topic {
    display: flex;
    justify-content: flex-end;
  }
}
/* **** definition flashcards **** */
.definition_flashcard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.definition_flashcard .definition a:hover {
  color: #FBC93F;
  transition: 0.4s all ease-in-out;
}

.definition {
  margin-bottom: 3rem;
}
.definition a {
  color: #EEB600;
  font-weight: 600;
}
.definition p {
  line-height: 2;
}
.definition p,
.definition h3 {
  margin-bottom: 3rem;
}
.definition h3 {
  font-size: calc(1em + 1vw);
}

@media (min-width: 768px) {
  .definition_flashcard {
    display: flex;
  }
  .definition_flashcard img {
    height: 40rem;
  }
}
/* **** footer **** */
.site-footer {
  background-color: #1C1C1C;
  overflow: hidden;
  margin-top: 3rem;
}

.content_footer {
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 0rem 0;
  margin-top: 2rem;
}
.info li {
  height: 6rem;
}
.info li a {
  color: #fff;
  font-weight: 400;
  transition: 0.4s all ease-in-out;
}
.info li a:hover {
  color: #EEB600;
}
.info:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .content_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .info {
    flex-direction: row;
    margin-top: 0;
    padding: 0;
  }
  .info li {
    height: initial;
    margin-right: 2rem;
  }
}
/* **** modal **** */
.overlay .modal {
  background-color: #fff;
  max-width: 95%;
  width: 55rem;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  box-shadow: 9px 9px 15px rgba(28, 28, 28, 0.2);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}
.modal .header h2 {
  font-size: calc(1em + 1vw);
}
.modal .header .btn_close {
  font-size: 2rem;
  font-weight: 600;
  color: #707070;
  transition: 0.3s all ease-in-out;
}
.modal .header .btn_close:hover {
  color: #1C1C1C;
}
.modal .form {
  padding: 0 2rem 4rem 2rem;
}

.form .input_modal {
  margin-bottom: 2rem;
}
.form .input_modal label {
  display: block;
  margin-bottom: 1rem;
}
.form .input_modal textarea {
  height: 10rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.btn_submit {
  position: relative;
}
.btn_submit ion-icon {
  position: absolute;
  top: 1.1rem;
  left: 20rem;
}
.btn_submit input {
  border: none;
  background-color: #EEB600;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}
.btn_submit input:hover {
  box-shadow: 9px 9px 15px rgba(238, 182, 0, 0.4);
}
.btn_submit .input_color {
  background-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
