@import "components/colors";
@import "components/fonts";
@import "components/functions";
@import "components/utilities";

/* **** globales **** */
body {
    font-family: 'Poppins', sans-serif;

}

a {
    color: $blackColor;
}
label{
    display: inline-block;
    margin-bottom: .5rem;
}
ul {
    padding: 0;
}

input {
    height: 4rem;
    font-family: inherit;
    text-transform: capitalize;
}

input:focus,
textarea:focus {
    outline: none;
}

input,
textarea {
    width: 100%;
}

textarea {
    resize: none;
}

input:not(input[type="submit"]) {
    padding: 0 2rem;
    font-size: 1.3rem;
}

[name*="trash"] {
    color: red;
}

/* **** utilities **** */
.container {
    max-width: 120rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.hide{
    display: none!important;
}
.mg-top {
    margin-top: 4rem;
}
.input{
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    input {
        width: 100%;
    }
    
}
.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 6rem 0;
    color: rgb(155, 153, 153);
    p{
        margin-top: 1rem;
    }
    span{
        font-size: 3rem;
    }
}
.input_search {
    position: relative;
    width: 100%;

    ion-icon {
        position: absolute;
        right: 0;
        top: 10px;
        margin: auto;
        padding: 0 2rem;
    }

    input {
        width: 100%;
    }

}

.scroll {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $noSelected;
        border-radius: 2rem;
        border: 2px solid #f1f2f3;
    }

    &::-webkit-scrollbar:horizontal {
        height: 1rem;
    }

    &::-webkit-scrollbar:vertical {
        width: 1rem;
    }
}

.btn {
    @extend %btn;
}

.btn.btn_primary {
    background-color: $principalColor;
    transition: .3s all ease-in-out;

    ion-icon {
        color: #000;
    }

    &:hover {
        box-shadow: 9px 9px 15px $shadowLight;
    }
}

.btn.btn_secundary {
    margin-top: 2rem;
    color: $deleteColor;
    outline: 2px solid $deleteColor;

    &:hover {
        color: #fff;
        background-color: $deleteColor;

    }
}

.hidden {
    display: none;
}
.good{
    border: 2px solid #66BF6B;
}
.bad{
    border: 2px solid #bf6666;
}

/* **** animations **** */
@keyframes openTopics {
    0% {
        top: 30px;
    }

    100% {
        top: 52px;
    }
}

/* **** header **** */
.bar {
    box-shadow: 0px 7px 13px $shadow;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $logoFont;
        font-size: calc(1.3em + 1.3vw)
    }

    .btn_profile a {
        display: flex;
        align-items: center;
    }


    .profile>li {
        position: relative;
    }

    .submenu_profile {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        padding: 1rem 2rem;
        text-align: center;
        background-color: #fff;
        transition: .4s all ease-in-out;

    }
}

.submenu_profile {


    li a {
        display: block;
        text-align: center;
        font-weight: 500;
        color: $deleteColor;
        font-size: calc(.6em + .6vw);

        span {
            margin-left: 1.2rem;
        }
    }
}

.btn_profile {
    &>a {
        img {
            height: 4rem;
            height: calc(1.2em + 1.2vw);
        }

        span {
            color: $blackColor;
            font-weight: 700;
            font-size: calc(.6em + .6vw);
        }
    }

    &:hover>.submenu_profile {
        display: block;
    }
}

/* **** topics managment **** */
.container_list-topics {
    position: relative;
}

@media (min-width:768px) {
    .container_list-topics {
        width: 30rem;
    }
}

.submenu_topics {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 10;
    background-color: #fff;

}

.submenu_topics.show {
    display: block;
    animation: openTopics .1s linear;
}

.btn_open-topics:hover {
    .submenu_topics {
        display: block;
    }
}



.btn_open-topics:hover {
    .submenu_topics {
        display: block;
    }
}

.btn_topics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid $blackColor;
    padding: 1.2rem 2rem;
    width: 100%;
    padding-bottom: 1rem;

    span {
        margin-right: 1rem;
    }

    &:hover {
        box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
        transition: .2s box-shadow ease-in-out;

    }

}

.topics_container {
    display: flex;
    justify-content: center;
    height: 20rem;
    overflow-y: auto;
    .list_topics {
        padding: 0;
        width: 100%;
    }

    &.not-found {
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $noSelected;
    }

}

.list_topics {
    li {
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 2rem;
        margin-bottom: .5rem;
    }
}

.topic {
    cursor: pointer;

    &.active,
    &:hover {
        span {
            color: $blackColor;
            font-weight: 400;
        }

        box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
        transition: .2s box-shadow ease-in-out;

    }

    span {
        color: $noSelected;

        text-overflow: ellipsis;
    }
}

@media (min-width:768px) {
    .btn_topics {
        width: 30rem;
    }
}

.container_new-topic {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    box-shadow: 0px -1px 1px rgba($color: $blackColor, $alpha: 0.3);

    a {
        display: flex;
        align-items: center;

        span {
            margin-left: 1rem;
            font-size: 1.7rem;
        }
    }
}

/* **** flashcard managment **** */
#topic_title {
    text-align: center;
    margin: 2rem 0;
    font-size: calc(1.3em + 1.3vw);
}



@media (min-width:768px) {
    .flashcard_customize {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input_search {
            width: 25rem;
        }

    }

}

/* **** flashcard  **** */

.container_flashcards {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    height: 60rem;
    box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
    overflow-y: auto;


}

@media (min-width: 768px) {
    .container_flashcards {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

}

.flashcard {
    position: relative;
    height: 35rem;
    transform-style: preserve-3d;
    transition: all 1s ease;

    .face {
        position: absolute;
        top: 0;
        left: 0;
        height: 30rem;
        width: 100%;
        background-color: $blackColor;
        color: #ffff;


    }

    .flashcards_settings {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.rotate {
        transform: rotateY(180deg);
    }

    .anverse {
        z-index: 10;

    }

    .overse {
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }
}

.face {


    .inpt_question {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        text-align: center;
        padding: 0 2rem;

        .question {
            width: 95%;
            height: 50%;
            margin-left: auto;
            margin-right: auto;
            border: none;
            color: white;
            background-color: transparent;
            resize: none;

            &:focus {
                outline: none;
            }
        }
    }
}

.flashcards_settings {
    position: relative;

    a {
        padding: 1rem;
        color: #fff;
        font-size: 2rem;
    }

    .btn_rotate {
        font-size: 2.5rem;
    }

    .settings {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_change {
        left: 0;
        background-color: $paletteColor;
    }

    .btn_delete {
        right: 0;
        background-color: $deleteColor;

        ion-icon {
            color: #ffff;
        }
    }
}

.delete_topic {
   
    .btn_delete-topic {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .delete_topic {
        display: flex;
        justify-content: flex-end;
    }
}

/* **** definition flashcards **** */
.definition_flashcard {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .definition a:hover {
        color: $principalColorHover;
        transition: 0.4s all ease-in-out;
    }
}

.definition {
    margin-bottom: 3rem;

    a {
        color: $principalColor;
        font-weight: 600;
    }

    p {
        line-height: 2;
    }

    p,
    h3 {
        margin-bottom: 3rem;
    }

    h3 {
        font-size: calc(1em + 1vw);
    }
}

@media (min-width: 768px) {
    .definition_flashcard {
        display: flex;

        img {
            height: 40rem;
        }
    }

}

/* **** footer **** */
.site-footer {
    background-color: $blackColor;
    overflow: hidden;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.content_footer {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: .5rem;

    color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 0rem 0;
    margin-top: 2rem;

    li {
        margin-top: 2rem;

        a {
            color: #fff;
            font-weight: 400;
            transition: .4s all ease-in-out;

            &:hover {
                color: $principalColor;
            }
        }
    }

    &:last-child {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .content_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

    }

    .info {

        flex-direction: row;

        padding: 0;

        li {
            height: initial;
            margin: 0;
            margin-right: 2rem;
        }


    }

}

/* **** modal **** */
.overlay {
    @extend %overlay;

    .modal {
        background-color: #fff;
        max-width: 95%;
        width: 55rem;
    }
}

.modal {
    .header {
        display: flex;
        justify-content: space-between;
        box-shadow: 9px 9px 15px $shadow;
        padding: 3rem 2rem;
        margin-bottom: 2rem;

        h2 {
            font-size: calc(1em + 1vw);
        }

        .btn_close {
            font-size: 2rem;
            font-weight: 600;
            color: $noSelected;
            transition: .3s all ease-in-out;

            &:hover {
                color: $blackColor;
            }
        }
    }

    .form {
        padding: 0 2rem 4rem 2rem;
    }
}

.form {
    .input_modal {
        

        textarea {
            height: 10rem;
            padding: 1rem 2rem;
            font-size: 1.3rem;
        }
    }
}

.btn_submit {
    position: relative;

    ion-icon {
        position: absolute;
        top: 1.1rem;
        left: 20rem;
    }

    input {
        border: none;
        background-color: $principalColor;
        transition: .4s all ease-in-out;
        cursor: pointer;

        &:hover {
            box-shadow: 9px 9px 15px $shadowLight;
        }
    }

    .input_color {
        background-color: transparent;
    }
}
// login
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    .container-form{
        border-radius: .4rem;
        padding: 2rem 1.5rem;
        background-color: #fff;
        h2{
            margin-bottom: 3rem;
            text-transform: capitalize;
            text-align: center;
        }
        
    }
}

.text-sign-in{
    margin-top: 2rem;
    text-align: center;
    .get-in{
        color: $principalColor;
    }
}
.validacion{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: $principalColor;
    font-weight: bold;
    span{
        margin-left: .5rem;
    }
    ion-icon{
       font-size: 1.6rem;
    }
}

/* alert styles */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  background-color: white;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}