@import "components/_colors.scss";
@import "components/_fonts.scss";
@import "components/functions";

/* **** globales **** */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: $blackColor;
}

input {
    outline: none;
    font-family: inherit;
    height: 3.4rem;

    &:focus {
        outline: none;
    }
}

input:not(input[type="submit"]) {
    padding: 0 2rem;
}

[name*="trash"] {
    color: red;
}

/* **** utilities **** */
.container {
    max-width: 120rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mg-top {
    margin-top: 4rem;
}

.btn {}

.btn-primary {}

.input_search {
    position: relative;
    width: 100%;

    ion-icon {
        position: absolute;
        left: 185px;
        top: 8px;
        margin: auto;
    }

    input {
        font-size: 1.3rem;
    }
}


/* **** header **** */
.bar {
    box-shadow: 0px 7px 13px $shadow;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: $logoFont;
        font-size: calc(1.3em + 1.3vw)
    }

    .btn_profile a {
        display: flex;
        align-items: center;
    }

    .profile>li {
        position: relative;
    }

    .submenu_profile {
        display: none;
        position: absolute;
        width: 120px;
        padding: 1rem 2rem;
        text-align: center;
        background-color: #fff;
        transition: .4s all ease-in-out;
    }
}

.submenu_profile {
    right: -7px;

    li a {
        display: block;
        text-align: center;
        font-weight: 500;
        color: $deleteColor;

        span {
            margin-left: 1.2rem;
        }
    }
}

.btn_profile {
    &>a {
        img {
            height: 4rem;
        }

        span {
            color: $blackColor;
            font-weight: 700;
        }
    }

    &:hover>.submenu_profile {
        display: block;
    }
}

/* **** flashcard managment **** */
.container_list-topics {
    position: relative;
}

@media (min-width:768px) {
    .container_list-topics {
        width: 30rem;
    }
}

.btn_topics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid $blackColor;
    padding: 1.2rem 2rem;
    width: 100%;
    margin-bottom: 1.5rem;

    span {
        margin-right: 1rem;
    }

    &:hover {
        transition: .2s box-shadow ease-in-out;
        box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
    }
}

.input_search {
    ion-icon {}

    input {
        width: 100%;
    }
}

.topics_container {
    .list_topics {
        padding: 0;
    }
}

.list_topics {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        margin-bottom: .5rem;

    }
}

.topic {
    cursor: pointer;

    &.active,
    &:hover {
        span {
            color: $blackColor;
            font-weight: 400;
        }

        transition: .2s box-shadow ease-in-out;
        box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
    }

    span {
        color: #707070;
    }
}

@media (min-width:768px) {
    .btn_topics {
        width: 30rem;
    }
}

.container_new-topic {
    box-shadow: 0px -1px 1px rgba($color: $blackColor, $alpha: 0.3);
    padding: 2rem;
    display: flex;
    justify-content: flex-end;

    a {
        display: flex;
        align-items: center;

        span {
            margin-left: 1rem;
        }
    }

}