$principalColor:#EEB600;
$deleteColor:#F33535;
$noSelected:#707070;
$paletteColor:#337DEC;
$blackColor:#1C1C1C;
$shadowBtn: rgba($principalColor, $alpha: 0.4);
$shadow: rgba($blackColor, $alpha: 0.2);