%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    transition: .2s all ease-in-out;

    ion-icon {
        font-size: 1.8rem;
        font-weight: 800;
        margin-right: 1rem;
    }
}

%btn:hover {
    ion-icon {
        color: inherit;
    }
}