%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;

    ion-icon {
        font-size: 1.8rem;
        color: #000;
        font-weight: 800;
    }
}

%btn.btn_primary {

    transition: .3s all ease-in-out;
}

%btn.btn_primary:hover {
    box-shadow: 9px 9px 15px $shadowBtn;
}